.form__form {
    width: 455px;
    height: 270px;
    left: 1065px;
    top: 132px;
    background: #F4F5F5;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 28px;
    padding: 30px;
}

.form__label {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #326273;
}

.form__label:nth-child(2) {
    margin-top: 20px;
}

.form__input {
    display: block;
    width: 385px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #326273;
    border-radius: 5px;
    margin-top: 10px;
}

.form__button {
    display: block;
    width: 200px;
    height: 36px;
    background: #FD8249;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: 30px;
}

.form__button:hover {
    box-shadow: 3px 3px 20px rgba(253,130,73);
}

.form__button:active {
    box-shadow: none;
}


