.main {
    padding-top: 50px;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.column_right {
    align-items: flex-end;
}

