.post__item {
    padding: 30px;
    width: 455px;
    height: 160px;
    background: #F4F5F5;
    border-radius: 15px;
    margin-top: 20px;
}

.post__header {
    display: flex;
    justify-content: space-between;
}

.post__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #326273;
}

.post__star {
    width: 28px;
    height: 28px;
    font-size: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    color: #DADBDC;
    outline: none;
}

.post__star_liked {
    color: #5C9EAD;
}

.post__text {
    height: 52px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #326273;
    margin-top: 10px;
}

